.before {
    background-image: url("E:\newapp\public\img6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.homepage {
    background-color: #f0f0f0; /* Background color for the homepage */
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .last {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px #888888;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 18px;
    color: #1a75ff; /* Price color */
  }
  
  /* Add more styles as needed */
  