body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    color: #fff; 
    padding: 10px 20px;
    right: -10PX;;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
  }
  
  .navbar .logo {
    font-size: 25px;
    color:rgb(19, 15, 64);
    font-weight: 700;
    margin-right: 100px;
    color: orange;
    font-family:sans-serif ;
  }
  
  .navbar ul.navbar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    margin-left: 58px;
    color:aliceblue;
  }
  
  .navbar ul.navbar-menu li {
    font-size: 16px;
    
  }
  .navbar ul.navbar-menu li a{
    color: rgb(19, 15, 64);
    text-decoration: none;
  } 
  
  .navbar .navbar-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar .navbar-icons .icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  .banner {
    background-color: #f2f2f2; 
    padding: 40px;
    background-image: url("../images/banner-bgg.jpg");
    text-align: center;
    height: 340px;
  }
  
  .banner h1 {
    font-size: 30px; 
    margin-bottom: 10px;
    margin-top: 120px;
  }
  
  .banner p {
    font-size: 17px; 
    color:rgb(102, 102, 102);
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
   
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .feature-box {
    width: 350px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff; 
  }
  
  .feature-box h2 {
    font-size: 24px; 
    margin-bottom: 10px;
  }
  
  .feature-box p {
    font-size: 16px; 
  }
  
  .product-categories {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-top: 20px;
   
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .category-box {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff; 
    border-radius: 5px;
    width: 250px;
  }
  
  .category-box h2 {
    font-size: 24px; 
    margin-bottom: 10px;
  }
  
  .category-box p {
    font-size: 16px; 
  }

  .footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #333; 
    color: #fff; 
  }
  
 
  .navbar-icons{
    margin-left: 250px;
    justify-content: space-between;
    width: 10%;
  }
  
  .navbar-icons a{
    height: 30px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: -25px;
    background-color:rgb(238, 238, 238);
    border-radius: 5px;
  }
  .ic{
    color: rgb(0, 0, 0)
    
  }
  .img{
    height: 180px;
  }
  .outer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
.ico{
  margin-top: 20px;
}


.fo{
  height: 25px;
  margin-right: 10px;
}

.link1{
  text-decoration: none;
  color: white;
}

